body{
    padding:0; 
    margin:0 auto;
    
    
}






.circles-container{
    
    flex-wrap: wrap;
    display:flex;
   justify-content: space-around;
    
}

.circle{
   
    width: 200px;
    height: 200px;
    background: blue;
    border-radius: 100%;
    margin:50px;
}
